h2{
    margin-bottom: 5px;
}
.register h3{
    border: 1px solid black;
    background-color: yellow;
    border-radius: 5px;
    width:120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px ;
    margin-bottom: 5px;
}
body{
    background-size:cover;
}
.errorMes p{
    color:red;
    font-size: 15px;
    float:left;
}